@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Nunito:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

element.style {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
}

.none {
    display: none !important;
}

.widget {
    background-color: #Ffffff;
    width: 500px;
    height: 250px;
    overflow: hidden;
    padding: 24px 36px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    position: relative;
    box-sizing: border-box;
}


.widget_row {
    display: flex;
    flex-direction: row;
    height: 228px;
}

.widget_image_block {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 192px;
}

.widget_image {
    width: 100%;
    height: 100%;
    background-size: contain;
    max-width: 192px;
    max-height: 192px;
    align-items: center;
}

/* Checkbox */

.slideThree {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    top: -30px;
    left: -20px;
}

.slideThree:after {
  content: "NO";
  color: #FF5E49;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.slideThree:before {
  content: "YES";
  color: #47CDE8;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}

.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.slideThree input[type="checkbox"] {
  visibility: hidden;
}

.slideThree input[type="checkbox"]:checked + label {
  left: 43px;
}

 /* End Checkbox */ 

.checkbox_label {
    position: absolute;
    top: 200px;
    left: 60px;
    font-weight: 400;
}

.subscribe:active {
    position: relative;
    top: 1px;
}

.widget_main_block {
    width: 210px;
    display: flex;
    flex-direction: column;
    padding-left: 26px;
}

.widget_title {
    text-align: center;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget_button_inline {
    display: inline-block;
    margin: 0 16px 0 0;
    width: 120px;
    height: 36px;
    line-height: 36px;
    border-radius: 50px;
    border:  1px solid rgba(0, 0, 0, .14);
    font-size: 16px;
    background-color: #47CDE8;
    color: #F6F6F6;
    
}

.widget_button {
    display: block;
    margin: 30px auto 0;
    width: 182px;
    height: 48px;
    border-radius: 100px;
    line-height: 47px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border: 1px solid rgba(0,0,0,.14);
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget_button:active {
    position: relative;
    top: 1px;
}